<nav>
    <a class="active" href="#/home">Home</a>
    {{#if loggedIn}}
        <a href="#">Create Meme</a>
        <div id="profile">
            <a>Welcome {{username}}</a>
            <a href="#">My Profile</a>
            <a href="#">logout</a>
        </div>
    {{/if}}
</nav>